{% extends "base.html.twig" %}
{% block body %}

<h1>Choose Category</h1>

{% for categories in categorie %}

    <div>
        <br>
        <a href="{{ path('categorie', {'id': categories.id }) }}"><h4>{{ categories.id }}. {{ categories.name }}</h4></a>
    </div>
{% endfor %}

{% endblock %}