{% extends "base.html.twig" %}
{% block body %}

<h1>Choose Category</h1>
<h6>Reponse minimun pour validé un quiz est de 7 sur 10</h6>

{% set nbr = 0 %}

{% for categories in categorie %}

    <div>
        <br>
        <h4><a href="{{ path('categorie', {'id': categories.id, 'ques': nbr ~ 1, 'victoire':  app.request.get('victoire') }) }}">{{ categories.id }}. {{ categories.name }}</a></h4>
    </div>

    {% set nbr = nbr + 1%}
{% endfor %}

{% endblock %}